@tailwind base;
@tailwind components;
@tailwind utilities;


.header-bg {
  background-image: url('../assets/Images/img10.jpg');
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption1-bg {
  background-image: url('../assets/Images/img12.jpg');
  filter: blur(1.5px);
  z-index: -1;
  transform: scale(1.1);
}


.caption2-bg {
  background-image: url('../assets/Images/img11.jpg');
  filter: blur(1.5px);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #F0F8FF;
}

a {
  color: inherit;
  text-decoration: none;
}


div.horizontalScroll {
  overflow-x: auto;
  white-space: nowrap;
}

div.horizontalScroll>div {
  display: inline-block;
  margin: 14px;
}


.horizontalScroll {
  scrollbar-width: thin !important;
}

.horizontalScroll::-webkit-scrollbar {
  display: block;
  width: 12px;
}



@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .horizontalScroll {
    overflow-x: overlay;
  }
}